<!DOCTYPE html>
<html lang="en">
<head>
  <title>Datatables Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
</head>
<body>
<h1>My Heading</h1>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Author First Name</th>
                <th>Author Last Name</th>
                <th>Book Title</th>
                <th>Price</th>
                <th>ISBN</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
<script>
function setupData() {
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                // "url": "static/objects2.txt", // This works for the static file
                "url": "/index_get_data", // This now works too thanks to @kthorngren
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns": [
                {"data": "author_first_name"},
                {"data": "author_last_name"},
                {"data": "book_title"},
                {"data": "price"},
                {"data": "isbn"},
                {"data": "email"}
            ]
        });
    });
}
$( window ).on( "load", setupData );
</script>
</body>
</html>
